
.channel-list {
  .channel-item {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.2s ease;
    border-radius: 4px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .channel-row {
      .channel-field {
        .channel-avatar {
          width: 40px;
          height: 40px;
          border-radius: 6px;
        }
      }
    }
    &:hover {
      background: rgba(255,255,255,0.03);
      border-radius: 6px;
    }
  }
  .channel-item:hover {
    background-color: rgba(0, 0, 0, 0.04);  /* sanfte Hover-Farbe */
  }

  .channel-item.selected {
    background-color: #e4dfeb;
    border: 1px solid #a77ce5;
    border-left-width: thick;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23); /* Shadow when selected */
  }
}

.btn {
  padding: 6px 8px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(180deg,#7c5cff,#5a3bff);
  color: white;
  cursor:pointer;
  font-size: 12px;
}