accelerate==1.13.0
altgraph==0.17.5
annotated-doc==0.0.4
appdirs==1.4.4
atomicwrites==1.4.0
cairocffi==1.7.1
CairoSVG==2.9.0
cffi==2.0.0
chardet==5.2.0
click==8.3.3
cryptography==48.0.1
cssselect2==0.8.0
defusedxml==0.7.1
diffusers==0.38.0
dpcpp-cpp-rt==2025.3.1
dpctl==0.21.0
dpnp==0.18.1
fastapi==0.138.0
filelock==3.20.3
Flask==3.1.3
flask-cors==6.0.1
fonttools==4.63.0
hf-xet==1.5.0
huggingface_hub==1.14.0
intel-cmplr-lib-rt==2025.3.1
intel-cmplr-lib-ur==2025.3.1
intel-cmplr-lic-rt==2025.3.1
intel-opencl-rt==2025.3.1
intel-openmp==2025.3.1
intel-sycl-rt==2025.3.1
Jinja2==3.1.6
jiter==0.10.0
jsonpointer==2.1
keyring==25.7.0
lxml==6.1.1
matplotlib==3.10.0
mkl==2025.3.0
mkl-service==2.4.0
numpy==2.2.0
nvidia-ml-py==13.580.82
onemkl-license==2025.3.0
onemkl-sycl-blas==2025.3.0
onemkl-sycl-dft==2025.3.0
onemkl-sycl-lapack==2025.3.0
onemkl-sycl-rng==2025.3.0
onemkl-sycl-stats==2025.3.0
onemkl-sycl-vm==2025.3.0
openai==1.97.0
opencv-python==4.10.0.84
pandas==2.3.3
pefile==2024.8.26
pillow==12.2.0
psutil==7.1.0
pyasn1-modules==0.2.8
pycparser==2.22
pydantic-settings==2.5.2
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-dotenv==1.2.2
pytz==2025.2
pywin32==308
regex==2026.4.4
reportlab==4.4.3
requests==2.33.0
ruff==0.15.17
safetensors==0.8.0rc0
scipy==1.15.2
setuptools==82.0.1
starlette==1.3.1
svgwrite==1.4.3
sympy==1.14.0
tbb==2022.3.0
tcmlib==1.4.1
tinycss2==1.4.0
tokenizers==0.22.2
torch==2.12.1
torchaudio==2.7.1+cu118
torchvision==0.22.1+cu118
transformers==5.8.0
typer==0.25.1
typing-inspection==0.4.2
typing_extensions==4.13.1
tzlocal==5.3.1
umf==1.0.2
uvicorn==0.32.0
webencodings==0.5.1
wheel==0.47.0
