@use "../../view/scss/_Var" as v;

.brush-context-menu {
  z-index: v.$modify_index;
  background: v.$app_primary_bg;
  border: 1px solid v.$app_border_default;
  border-radius: 4px;
  padding: 4px 0;
  box-shadow: 0 2px 10px v.$app_shadow_00_default;
  font-size: 14px;
  color: v.$app_font_primary;
  user-select: none;
  .menu-container {
    .side-nav {
      background: v.$app_bg_dimmer_04;
      .nav-button {
        background: v.$app_transparence;
        border: none;
        border-radius: 4px;
        .icon {
          font-size: 20px;
        }
        &:hover {
          background: v.$app_btn_transparent_hover;
        }
        &:active {
          background: v.$app_btn_transparent_active;
        }
      }
    }
    .content {
      .tab-content {
        .brush-list-container {
          max-height: 100px;
          padding: 0.5rem;
          border: 1px solid v.$app_border_default;
          background-color: v.$app_bg_card_00;
          border-radius: 8px;
          .brush-list {
            .brush-item {
              width: 55px;
              height: 80px;
              color: v.$app_font_color_default;
              border-radius: 4px;
              transition: background .2s;
              .brush-thumb {
                width: 45px;
                height: 45px;
                border-radius: 4px;
              }
              .brush-info {
                font-size: 12px;
              }
              &:hover {
                background: v.$app_bg_card_hover_00;
              }
            }
          }
        }
      }
    }
  }
}