.layer-image {
  width: 100%;
  height: 100%;
  position: relative;
  img {
    -o-object-fit: inherit !important;
    object-fit: inherit !important;
  }
}

.layer-image.absolute {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute !important;
}

.resize-handle {
  fill: white;
  stroke: #00aaff;
  stroke-width: 2;
  cursor: nwse-resize;
  pointer-events: all;
}

.rotate-handle {
  fill: #00aaff;
  cursor: grab;
  pointer-events: all;
}

.center-crosshair {
  pointer-events: none;
}