@use "./Aspect/_Aspect";

.absolute{
  position: absolute !important;
}

.static {
  position: static !important;
}

.inset{
  inset: 0 !important;
}

.grid {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 12px;
  position: relative;
}

.d-grid {
  display: grid !important;
}

.grid-center{
  display: grid !important;
  place-items: center !important;
}

.relative{
  position: relative !important;
}

.w-h {
  width: 100% !important;
  height: 100% !important;
}

.w-30 {
  width: 30% !important;
}

.w-70 {
  width: 70% !important;
}


.vw-vh {
  width: 100vw !important;
  height: 100vh !important;
}

.cursor-none {
  pointer-events: none !important;
  user-select: none !important;
}

.cursor-auto {
  pointer-events: auto !important;
  user-select: none !important;
}

.cursor-pointer {
  cursor: pointer !important;
  pointer-events: auto !important;
  user-select: none !important;
}