/* Guide */
.guide-overlay {
  position: absolute;
  inset: 0;
  overflow: visible;
  pointer-events: none;
  z-index: 9998;
}

.guide {
  position: absolute;
  z-index: +1;
  background: blue;
  opacity: 0.7;
  pointer-events: all;
}
/* Lineale */
.ruler {
  position: absolute;
  background-color: #333;
  color: white;
  font-size: 12px;
  z-index: 1;
}

.x-axis {
  top: 0;
  height: 20px;
  width: 100%;
}

.y-axis {
  left: 0;
  width: 20px;
  height: 100%;
}

.ruler-mark {
  position: relative;
  font-size: 10px;
  color: #ddd;
}